[Desktop Entry]
Name=Google
Type=Application
Icon=Google-plus.google.com
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'R29vZ2xlKwA=' -d 'plus.google.com' %u