[Desktop Entry]
Name=YouTube
Type=Application
Icon=YouTube-youtube.com
MimeType=
Actions=S0;S1;S2;S3;S4;S5;S6;S7;S8;S9;S10;
Exec=unity-webapps-runner -n 'WW91VHViZQA=' -d 'youtube.com' %u