<table width="500" align=center cellpadding="3" cellspacing = "2" border=1>
<TR>
<TD colspan=5 BGCOLOR="yellow" align=center>BẢNG GIÁ THÁNG 3 NĂM 2006</td>
</TR>
<TR>
<TD colspan=2 align=center><b>Tên thiết bị</B></td>
<TD align=center><b>Số lượng</b></td>
<TD align=center><b>Giá</b></td>
<TD align=center><b>Thành tiền</b></td>
</tr>